<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/login.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
</head>

<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" action="/user/login" method="post"> <!-- Add the action and method attributes -->
                    <h1>Login</h1> <!-- Change "Log In Now" to "Signup" -->
                    <div class="login__field">
                        <i class="login__icon fas fa-envelope"></i> <!-- Change icon to envelope for email -->
                        <input type="text" class="login__input" placeholder="Email" required name="email">
                        <!-- Change placeholder and add "required" attribute -->
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Password" required name="password">
                        <!-- Change placeholder and add "required" attribute -->
                    </div>
                    <button class="button login__submit" type="submit">
                        <!-- Change button text and add "type" attribute -->
                        <span class="button__text">Login</span> <!-- Change button text -->
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                    <a href="/" class="login__login-link">Don't Have an Account? Signup</a>
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>

</body>

</html>